@model EngineersOffice_Library.Models.VolumeModels.Cylinder


<form asp-antiforgery="true"
      asp-controller="Calculations"
      asp-action="_CylinderView"
      data-ajax-method="POST"
      data-ajax="true"
      data-ajax-update="#resultCylinder"
      data-ajax-mode="update"
      class="calculations-volume-form"
      id="resultCylinder">

    <div asp-validation-summary="ModelOnly"></div>

    <div class="calculations-volume-inputRaw">
        <label asp-for="Height">h = </label>
        <input type="text" asp-for="Height" class="calculations-volume-input" />
    </div>
    <span asp-validation-for="Height" class="text-danger"></span>

    <div class="calculations-volume-inputRaw">
        <label asp-for="Radius">r = </label>
        <input type="text" asp-for="Radius" class="calculations-volume-input" />
    </div>
    <span asp-validation-for="Radius" class="text-danger"></span>

    <button type="submit" class="calculations-btn hover-engineer_orange-backgroundcolor">Расчитать</button>
    <div class="calculations-volume-result">
        <div>Результат: V = <span>@Model.Volume</span></div>
    </div>
</form>
